.m-top{
    margin:  20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-search{
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: all 0.3s;
}
.form-search.focused {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: #d3445b;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #de7c8b;
}
.icon-search{
    padding: 5px;
}